  <div class="navbar">

    <div class="border"><%= link_to "Back to cocktails", cocktails_path, :class => "links" %></div>
    <div class="border"><%= link_to "Edit", edit_cocktail_path(@cocktail), :class => "links" %></div>
    <div class="border"><%= link_to "Add a dose", new_cocktail_dose_path(@cocktail), :class => "links" %></div>
    <div class="border"><%= link_to "Delete", cocktail_path(@cocktail), :class => "links", method: "delete",
          data: { confirm: "Are you sure?" } %></div>
  </div>

<div class="text-center">
  <div class=drinks_infos>
    <div>
      <h1><%= @cocktail.name %></h1>
      <% @cocktail.doses.each do |dose| %>
      <%= dose.ingredient.name %>
      <%= dose.description %>
      <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
      <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1>Add Ingredient to <%= @cocktail.name %></h1>
      <%= simple_form_for [@cocktail, @cocktail.ingredient] do |f| %>

        <%= f.input :tag, collection: Tag.all, input_html: { multiple: true, class: 'select2' }, include_hidden: false  %>

        <%= f.submit 'Add Ingredient', class: 'btn btn-primary' %>

      <% end %>

    </div>
  </div>
</div>
